<div class="container">
  <h2>Posts list</h2>

  {{#each posts}}
    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
      </div>
    </div>
  {{/each}}
</div>